<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/gundar.png" type="image/icon type" />
    <title>Form Pendaftaran Calon Programmer | Lab Psikologi Gunadarma</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
  </head>
  <body>
    <div class="col-md-5 mx-auto mt-4">
      <!-- general form elements -->
      <div class="d-flex">
        <img src="/images/gundar.png" width="auto" height="100" alt="" />
        <h2 class="ml-3 mb-4">Penerimaan Programmer Laboratorium Psikologi Gunadarma PTA 2023/2024</h2>
      </div>
      <div class="card card-primary">
        <div class="card-header">
          <!-- <h3 class="card-title">Terimakasih telah mengisi form !!</h3> -->
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <div class="card-body">
          <p>
            Formulir Penerimaan Programmer Laboratorium Psikologi Gunadarma PTA 2023/2024 sudah tidak menerima jawaban
            lagi.
          </p>
          <p>Coba hubungi pemilik formulir jika menurut Anda ini keliru.</p>
        </div>
        <!-- /.card-body -->

        <!-- <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div> -->
      </div>
      <!-- /.card -->
    </div>
    <footer class="text-center">
      <strong
        >Form ini dibuat oleh
        <a href="https://mahdy-mubasyir.vercel.app/" target="_blank" rel="noopener noreferrer">Mahdy Mubasyir</a
        >.</strong
      >
      All rights reserved.
      <h3 class="mt-3 fw-bold text-secondary">Laboratorium Psikologi Gunadarma</h3>
    </footer>

    <!-- jQuery -->
    <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="/adminlte/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/adminlte/dist/js/adminlte.min.js"></script>
    <!-- Page specific script -->
    <script>
      $(function () {
        bsCustomFileInput.init();
      });
    </script>
  </body>
</html>
